body
{
  font-size: 1.2em;
  font-family: "Helvetica Neue",Arial,Helvetica;
}

#container
{
  margin: 0 auto;
  max-width: 900px;
}

header
{
  padding: 40px 0 30px 0;
}

header h1
{
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  color: #635252;
  filter: dropshadow(color=#fff,offX=0,offY=1);
  text-shadow: 0 1px 2px white;
}

a
{
  text-decoration: none;
}

h2
{
  font-size: 1.25em;
}

.pagination
{
  background: #E6E4E2;
}
